<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="https://cdn.webix.com/site/webix.css">

    <title>Document</title>
</head>

<body onload="getListUser()">

    <div id="list-user"></div>

    <script type="text/javascript" src="https://cdn.webix.com/site/webix.js"></script>
    <script src="/js/axios.min.js"></script>
    <script src="/js/userList.js"></script>
</body>

</html>