<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jwat.mapper.UserMapper">
	<select id="getListUser" resultMap="result">
		select * from users;
	</select>

	<select id="getUserById" parameterType="int" resultMap="result" >
        select * from users
        where id = #{id};
	</select>

	<select id="checkLogin" parameterType="com.jwat.model.User" resultMap="result" >
        select * from users
		where email = #{email} and password = #{password};
	</select>

	<select id="getUserIdByEmail" parameterType="string" resultType="int" >
        select id from users
        where email = #{email};
	</select>

	<select id="checkEmailAvailable" parameterType="string" resultType="boolean" >
        select count(id) from users
        where email = #{email};
	</select>
	
	<update id="updateUser" parameterType="com.jwat.model.User">
        update users
        set email = #{email},
        password = #{password} 
        where id = #{id}
    </update>

	<insert id="insertUser" parameterType="com.jwat.model.User">
        insert into users(email, password, created_at)
        values(#{email}, #{password}, curdate())
	</insert>

	<delete id="deleteUserById" parameterType="int">
        delete from users where id = #{id}
    </delete>

	<resultMap id="result" type="com.jwat.model.User">
		<result property = "id" column = "id"/>
		<result property = "email" column = "email"/>
		<result property = "password" column = "password"/>
		<result property = "created_at" column = "created_at"/>
	</resultMap>
</mapper>